<launch>

  <arg name="model" default="$(find spot_urdf)/urdf/spot.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find spot_urdf)/rviz/occupancy_grid_config.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">["joint_state_from_spot"]</rosparam>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>