<launch>

  <arg name="model" default="$(find spot_urdf)/urdf/spot.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find spot_urdf)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    <rosparam param="source_list">["kinematic_state"]</rosparam>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>